*{
    margin: 0 auto;
    padding: 0;
}
.header{
    width: 100%;
    height: 58px;
    background-color: #000;
}
.header .nav{
    width: 100%;
    height: 58px;
    display: flex;
    position: relative;
    justify-content: space-around;
}
.header .nav img{
    margin: 0;
    width: 58px;
    display: inline-block;
}
.header .nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.header .nav ul li{
    line-height: 58px;
    padding-left: 30px;
}
.header .nav ul li a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.header .nav button{
    color: #fff;
    margin-top: 14px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    outline: none;
    border: 0;
    background: #487af6;
}
.banner img{
    width: 100%;
}
.content{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}
.content .blyq .blyq_tit{
    margin: 0 auto;
    position: relative;
}
.content .blyq .blyq_tit img{
    display: inline-block;
    margin-bottom: 10px;
}
.content .blyq .blyq_tit p{
    font-size: 26px;
    display: inline-block;
    padding-left: 10px;
}
.content .blyq .blyq_tit a,.content .altj .altj_tit a{
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 10px;
    width: 75px;
    text-align: center;
    line-height: 24px;
    height: 24px;
    color: #487af6;
    border-radius: 20px;
    border: 1px solid #487af6;
}
.content .blyq .blyq_con{
    margin: 0 auto;
    margin-top: 10px;
    background: #F7FAFC;
}
.content .blyq .blyq_con h1{
    padding-top: 30px;
    text-align: center;
}
.content .blyq .blyq_con p{
    margin-top: 15px;
    color: #87888c;
    font-size: 20px;
    text-align: center;
}
.content .blyq .blyq_con .blyq_cion{
    margin: 0 auto;
    margin-top: 30px;
}
.content .blyq .blyq_con .blyq_cion img{
    padding-left: 8px;
    width: 3%;
}
.content .blyq .blyq_con img{
    text-align: center;
    width: 50%;
}
.content .altj{
    margin: 0 auto;
    margin-top: 50px;
}
.content .altj .altj_tit{
    margin: 0 auto;
    position: relative;
}
.content .altj .altj_tit img{
    display: inline-block;
    margin-bottom: 10px;
}
.content .altj .altj_tit p{
    font-size: 26px;
    display: inline-block;
    padding-left: 10px;
}
.content .altj .altj_row {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}
.content .altj .altj_row img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.content .altj .altj_nr{
    height: auto;
    box-shadow: 2px 2px 3px #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.content .altj .altj_nr p:nth-child(1){
    font-size: 18px;
    padding-bottom: 5px;
}
.content .altj .altj_nr p:nth-child(2){
    font-size: 16px;
    color: #c4c1c1;
}
.content .dt{
    margin: 0 auto;
    margin-top: 50px;
}
.content .dt .dt_con img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.content .dt .dt_tit{
    margin: 0 auto;
    position: relative;
}
.content .dt .dt_tit img{
    display: inline-block;
    margin-bottom: 10px;
}
.content .dt .dt_tit p{
    font-size: 26px;
    display: inline-block;
    padding-left: 10px;
}
.content .dt .dt_tit a{
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 10px;
    width: 75px;
    text-align: center;
    line-height: 24px;
    height: 24px;
    color: #487af6;
    border-radius: 20px;
    border: 1px solid #487af6;
}
.content .dt .dt_con{
    margin-top: 40px;
}
.content .dt .dt_con a{
    padding-top: 15px;
    display: block;
    height: 50px;
    box-shadow: 2px 2px 6px #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.box{
    margin: 0 auto;
}
.content .box .bk_tit,.sq_tit{
    margin: 0 auto;
    position: relative;
}
.content .box .bk_tit img,.sq_tit img{
    display: inline-block;
    margin-bottom: 10px;
}
.content .box .bk_tit p,.sq_tit p{
    font-size: 26px;
    display: inline-block;
    padding-left: 10px;
}
.content .bk .bk_tit a,.sq_tit a{
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 10px;
    width: 75px;
    text-align: center;
    line-height: 24px;
    height: 24px;
    color: #487af6;
    border-radius: 20px;
    border: 1px solid #487af6;
}
.content .bk .bk_con img{
    width: 50%;
    border-radius: 15px;
}
.bk_con_r{
    width: 330px;
    position: relative;
    margin-left: -150px;
}
.bk_con_r p:nth-child(1){
    padding-top: 10px;
}
.bk_con_r p:nth-child(2){
    padding-top: 20px;
    color: #9c9fae;
}
.bk_con_r a{
    position: absolute;
    margin-top: 20px;
    display: block;
    height: 30px;
    width: 100px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    background: #487af6;
}
.sq ul{
    border: 1px solid red;
    height: 200px;
}
.hb{
    width: 100%;
    margin: 0 auto; 
    position: relative;
    background: #F7FAFC;
}

.content .hb .hb_tit{
    margin: 0 auto;
    width: 75%;
    padding-top: 40px;
    position: relative;
}
.content .hb .hb_tit img{
    display: inline-block;
    margin-bottom: 10px;
}
.content .hb .hb_tit p{
    font-size: 26px;
    display: inline-block;
    padding-left: 10px;
}
.content .hb .hb_tit a{
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 10px;
    width: 75px;
    text-align: center;
    line-height: 24px;
    height: 24px;
    color: #487af6;
    border-radius: 20px;
    border: 1px solid #487af6;
}
.content .hb .hb_con{
}
.content .hb .hb_con img{
    width: 100%;
    margin-bottom: 30px;
}
.footer{
    clear: both;
    width: 100%;
    position: relative;
    background: url('../img/footer.png');
    border: 1px solid red;
}
.footer .footer_l,.footer .footer_r{
    height: 118px;
    position: relative;
}
.footer .footer_l ul{
    line-height: 118px;
    text-align: center;
    display: flex;
}
.footer .footer_l ul li{
    display: flex;
    margin: 0 auto;
}
.footer .footer_l ul li a{
    padding-left: 50px;
    color: #fff;
    font-size: 16px;
}
.footer .footer_l span{
    position: absolute;
    margin-top: 20px;
    right: 0;
    border: 1px solid #8791a5;
    height: 80px;
}
.icon{
    margin-top: 20px;
    margin-left: 80px;
}
.icon i{
    padding-left: 10px;
}
.footer_r p{
    width: 62%;
    margin-top: 15px;
    color: #B5C0D4;
    text-align: center;
}
.footer_d{
    width: 100%;
    height: 33px;
    line-height: 33px;
    color: #F6F9FC;
    background: #5c6679;
    text-align: center;
    font-size: 12px;
}
